body {
    font-family: 'Montserrat', sans-serif;
}

/* Contenido del index Imagen y Titulo */
.paginaprincial{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("imgmain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.indexContent{
    padding: 20px;
    font-family: 'Dela Gothic One', cursive;
}
